body{
    margin:0 auto;
}



h1{
    margin:1rem;
    text-align: center;
}

nav{
    border-top: 2px solid rgba(255, 166, 0, 0.466);
    border-bottom: 2px solid rgba(255, 166, 0, 0.466);
    display: flex;
    padding: 0 1rem;
}

.links{
    text-decoration:none;
    list-style: none;
    display: flex;
    gap:1rem;
    margin-left: auto;

}

.links a{
    text-decoration: none;
    color: rgba(255, 0, 0, 0.612);
}

.content{
    justify-items: center;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

main{
    margin: 0 auto;
    align-content: center;
}

article{
    display: grid;
    grid-template-columns: 1fr 100px;
    border-top: 2px solid rgba(255, 166, 0, 0.466);
    border-bottom: 2px solid rgba(255, 166, 0, 0.466);
    padding: 2rem;
    margin-top:3rem;
}

.detail{
    grid-column: 2/3;
    text-align: right;
    font-weight:bold;
    padding:2rem;
}

.content{
    grid-column: 1/2;
    padding:2rem;
    margin-bottom: 3rem;
}

h2{
    color: rgba(219, 52, 52, 0.811);
    font-weight:bold;
}

footer{
    text-align: center;
}

@media(min-width:760px){
    article{
        grid-template-columns: 300px 1fr;
        border-top: none;
        border-bottom: none;
    }

    .detail{
        grid-column: 1/2;
        border-right: 3px solid rgba(255, 166, 0, 0.466);
        padding:2rem;
    }

    .content{
        grid-column: 2/3;
        padding:2rem;
        
    }

    footer{
        border-top: 2px solid rgba(255, 166, 0, 0.466);
    }
}



