body{
    font-size: 25px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    font-family: "Times New Roman", Georgia, serif;
}

#title{
    border-bottom: 2px solid #dddd;
    margin-bottom: 3rem;
}

h1{

}

h2{
    color: rgb(67, 153, 251);
    font-size: 20px;
}

p,ol{
    text-align: left;
}

.font{
    font-style: italic;
    
}

li{
    padding: 10px;
}

img{
    width:30%;
}

#logo{
    margin-top:5rem;
}

.darkmode{
    position:absolute;
    top:1rem;
    left:1rem;
}