body{
    display: flex;
    justify-content: center;
    padding: 2rem;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.first_card{
    background-color: rgba(128, 128, 128, 0.253);
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px;
    padding: 1rem;
    grid-column: 1/3;
    grid-row:1/3;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#total{
    grid-column: 1/2;
    grid-row: 1/2;
}

#card{
   grid-column: 2/3;
   grid-row: 1/2; 
   justify-items: right;
}

#numbers{
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0;
}

#holders{
    grid-column: 1/2;
    grid-row: 3/4;
}

#expiration{
    grid-column: 2/3;
    grid-row: 3/4;
}



.second_card{
    background-color: rgba(128, 128, 128, 0.253);
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px;
    padding: 1rem;
    grid-column:2/4;
    grid-row:2/4;
    z-index:2;
}

