@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body{
    margin: 0;
    padding:0;
    font-family: Roboto, sans-serif;
    max-width: 100%;
}

header{
    background-color: rgba(0, 42, 255, 0.744);
    color:white;
    padding: 16px;
    justify-items: center;
    align-items: center;
}

nav a{
    color: white;
}

main{
    text-align: center;
    background-color: rgb(199, 202, 204);
    margin: 0;
    padding-top:16px ;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding:32px;
    gap:32px;
}

img{
    max-width: 100%;
    border: 6px solid white;
    box-sizing: border-box;
    margin: 6px;
    box-shadow: 6px 6px 10px gray;
}

footer{
    background-color: rgba(0, 42, 255, 0.744);
    padding: 16px;
    text-align: center;
}

@media screen and (min-width: 700px){
    .container{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 780px){
    .container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

